/* =========================
   Featured
========================= */

.designFeatured {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 80px auto;
    padding: 80px 0;
    overflow: hidden;
}

.designFeatured .slides {
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

.shopFeatured {
    display: none;
    position: relative;
    height: 420px;
    border-radius: 25px;
    overflow: hidden;
}

.shopFeatured.slide.active {
    display: block;
}

.shopFeatured.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shopFeatured.slide::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
}

.shopFeatured.left-text::before {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, .60),
        rgba(0, 0, 0, .25),
        transparent
    );
}

.shopFeatured.right-text::before {
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, .60),
        rgba(0, 0, 0, .25),
        transparent
    );
}

.banner-content {
    position: absolute;
    top: 41%;
    transform: translateY(-50%);
    z-index: 2;
    color: #fff;
    max-width: 450px;
}

.left-text .banner-content {
    left: 60px;
}

.right-text .banner-content {
    right: 60px;
    text-align: right;
}

.banner-content h3 {
    font-family: "Anton", sans-serif;
    font-size: 52px;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 22px;
    margin-bottom: 30px;
}

.right-text .shop-btn {
    margin-left: auto;
}

.designFeatured .prev,
.designFeatured .next {
    position: absolute;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
}

.designFeatured .prev {
    left: 1px;
}

.designFeatured .next {
    right: 1px;
}
