/* =========================
   FOOTER
========================= */

footer {
    background: #fff;
    padding: 60px 0 20px;
    margin-top: 60px;
    box-shadow: 0 -2px 10px rgba(0,0,0,.05);
}

.footer-links {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 180px;
}


.footer-column ul {
    list-style: none;
}

.footer-column li {
    margin-bottom: 12px;
}

.footer-column a {
    text-decoration: none;
    color: #555;
    transition: .3s;
}

.footer-column a:hover {
    color: #FD3C82;
}

.social-icons {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.social-icons a {
    font-size: 26px;
    color: #333;
    transition: .3s;
}

.social-icons a:hover {
    color: #FD3C82;
    transform: translateY(-3px);
}

.footerBottom {
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    color: #666;
    font-size: 15px;
}

