/* =========================
   RESET
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
   WRAPPER
========================= */
.wrap {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* =========================
   Background
========================= */

body {
    font-family: "Open Sans", sans-serif;
    background: #FEE0E9;
    color: #333;
    line-height: 1.5; 
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background: url("../images/candyfactorycastle1.png") center/cover no-repeat;

    opacity: 0.4;      /* Change this value */
    z-index: -1;
    background-position: left 200px;
    background-size: cover;
}

/* =====================
AboutUS OurStory Careers
======================== */

#aboutUs,
#ourStory,
#careers,
#blogHero {
    max-width: 900px;
    margin: 60px auto;
}

/* ==========================
   Loading Screen
   ========================== */

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: #FEEBF1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 1;
    visibility: visible;

    transition: opacity 0.5s ease, visibility 0.5s ease;

    z-index: 9999;
}

#loadingScreen.hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#loadingScreen p {
    margin-top: 15px;
    font-size: 18px;
    color: #333;
}

/*Then your loader*/
.loader {
    width: 40px;
    height: 40px;

    border: 4px solid #fff;
    border-top: 4px solid #FD3C82;

    border-radius: 50%;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}




















