
/* =========================
   TYPOGRAPHY
========================= */

p {
    font-family: "Patrick Hand", cursive;
}


/* =========================
Hero >> Sweet Treats Made with Love <<
============================ */
.leftColumn .text h2 {
    font-family: "Anton", sans-serif;
    font-size: 52px;
    line-height: 1.1;
    margin-bottom: 15px;
}

.leftColumn .text p {
    font-size: 18px;
    margin-bottom: 25px;
}



/* =====================
WhatsNew and Featured H2
======================== */
.whats-new h2,
.shop-slider h2 {
    font-family: "Anton", sans-serif;
    font-size: 48px;
    color: #333;
    margin-bottom: 40px;
    text-align: center;
}

/* ================
Featured
=================== */
.banner-content h3{
    font-family:"Anton",sans-serif;
    font-size:52px;
    margin-bottom:20px;
}

.banner-content p{
    font-size:22px;
    margin-bottom:30px;
}


/* ================
Footer
=================== */
.footer-column h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

/* ============== 
AboutUS
================= */

#aboutUs h2,
#ourStory h2,
#careers h2,
#blogHero h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

#aboutUs p,
#ourStory p,
#careers p,
#blogHero p {
    text-align: justify;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

#careers h3 {
    text-align: center;
    font-size: 1.5rem;
}
